<a href="https://colab.research.google.com/github/Adarsh0027/BA01/blob/main/untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

x=int(input("Enter Phone Number "))
y=input("Enter your name ")
print(x)
print(y)

Enter Phone Number 838
Enter your name ADarsh
838
ADarsh

In [ ]:
x=int(input("Enter DBMS Mark "))
y=int(input("Enter CRA Mark "))
z=int(input("Enter FA Mark  "))
total=x+y+z
print(total)

Enter DBMS Mark 30
Enter CRA Mark 30
Enter FA Mark  30
90

In [ ]:
x=int(input("Enter DBMS Mark "))
y=int(input("Enter CRA Mark "))
z=int(input("Enter FA Mark  "))
total=x+y+z
print(total)
mean=total/3
print("Mean is ",mean)

Enter DBMS Mark 28
Enter CRA Mark 30
Enter FA Mark  30
88
Mean is  29.333333333333332

In [ ]:
N1=15
N2=11
N3=12
if N1>N2 and N1>N3:
  print(N1,"is greater")
if N2>N1 and N2>N3:
  print(N2,"is greater")
if N3>N1 and N3>N2:
  print(N3,"is greater")

15 is greater

In [ ]:
x=int(input("Enter Any Number "))
if x%2 ==0 :
  print(x,"is even")
else :
  print(x,"is odd")

Enter Any Number 6
6 is even

In [ ]:
y=int(input("Enter Any Number "))
if y%2 ==0 :
  print(y,"is even")
else :
  print(y,"is odd")

Enter Any Number 5
5 is odd

In [ ]:
x=range(10)
for a in x:
  if a%2 ==0 :
    print(x,"is even")
  else:
    print(x,"is odd")

range(0, 10) is even
range(0, 10) is odd
range(0, 10) is even
range(0, 10) is odd
range(0, 10) is even
range(0, 10) is odd
range(0, 10) is even
range(0, 10) is odd
range(0, 10) is even
range(0, 10) is odd

In [ ]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2 ==0 :
    print(a+2,"is even")

Enter Starting Value 10
Enter Ending Value 20
12 is even
14 is even
16 is even
18 is even
20 is even

In [ ]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2 ==0 :
    print(a+1,"is odd")

Enter Starting Value 10
Enter Ending Value 20
11 is odd
13 is odd
15 is odd
17 is odd
19 is odd

In [ ]:
x=input("Enter Travel Source ")
y=input("Enter Travel Destination ")
z=int(input("Enter Number of Passengers "))
print(x,y,z)

Enter Travel Source Ernakulam
Enter Travel Destinations Palakkad
Enter Number of Passengers26
Ernakulam Palakkad 26

In [ ]:
x=int(input("Total ticket fare "))
z=int(input("No of Passengers "))
Totalfare=print(x/z)

Total ticket fare 500
No of Passengers 10
50.0

In [ ]:
x=input("Passengers Name ")
y=int(input("Ticket fare "))
print(x,y)

Passengers Name George
Ticket fare 1200
George 1200

In [ ]:
x=int(input("Total TIcket Fare "))
if x>10000:
  print("Eligible for discount")

Total TIcket Fare 12000
Eligible for discount

In [ ]:
x=int(input("Total TIcket Fare "))
if x>15000:
  print("Eligible for 20% discount")
else:
  print("Eligible for 10% discount")

Total TIcket Fare 14000
Eligible for 10% discount

In [ ]:
x=int(input("Total TIcket Fare "))
if x>15000:
  print("Eligible for 20% discount")
  print(x*20/100)
else:
  print("Eligible for 10% discount")
  print(x*10/100)

Total TIcket Fare 14000
Eligible for 10% discount
1400.0

In [ ]:
x=int(input("Enter A Number "))
if x>0:
  print("Positive")
elif x<0:
  print("Negative")
else:
  print("Zero")

Enter A Number -1
Negative

In [ ]:
x=int(input("Age of Passenger "))
if x>17:
  print("Adult")
elif x>11 and x<17:
  print("Teenager")
elif x>5 and x<11:
  print("Kid")
else:
  print("Infant")

Age of Passenger 10
Kid

In [ ]:
x=input("Passengers Initial ")
if x=="A":
  print("Vowel")
elif x=="E":
  print("Vowel")
elif x=="I":
  print("Vowel")
elif x=="O":
  print("Vowel")
elif x=="U":
  print("Vowel")
else:
  print("Not Vowel")

Passengers Initial A
Vowel

In [ ]:
x=input("Enter Your Name ")
for a in x:
  print(a)

Enter Your Name adarsh
a
d
a
r
s
h

In [ ]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2!=0 :
    print(a)

Enter Starting Value 44
Enter Ending Value 88
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [ ]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=(x,y) 
for a in range(x,y):
  x=x+a
  print(a , x)

Enter Starting Value 1
Enter Ending Value 6
1 2
2 4
3 7
4 11
5 16

In [ ]:
x=0
for a in range(1,6):
  x=x+a
  print(a,x)

1 1
2 3
3 6
4 10
5 15

In [ ]:
x=(int(input("Enter A Number ")))
if x<0:
  print("absolut no is",x*-1)
elif x>0:
  print("absolut no is",x*1)

Enter A Number -1564969
absolut no is 1564969

In [ ]:
marks=int(input("Enter marks "))
if marks <25:
  print("f")
elif marks>25 and marks<40:
  print("e")
elif marks>40 and marks<50:
  print("d")
elif marks>50 and marks<60:
  print("c")
elif marks>60 and marks<80:
  print("b")
else:
  print("a")

Enter marks 80
a

In [ ]:
x=(int(input("No of class held ")))
y=(int(input("No of class attended ")))
if y/x*100<75:
  print("Not eligible for xams")
else :
  print("Eligible for xams")

No of class held 500
No of class attended 100
Not eligible for xams

In [ ]:
 print(' 1. Addition \n 2. Subtraction \n 3. Multiplication \n 4. Division \n 5. Modulus \n 6. Floor Division \n 7. Exponent')
n=int(input('Enter the operaton to be performed '))
a=int(input('Enter the first number '))
b=int(input('Enter the second number '))
if n==1:
  add=a+b
  print('Addition:',add)
elif n==2:
  sub=a-b
  print('Subtraction:',sub)
elif n==3:
  mul=a*b
  print('Multiplication:',mul)
elif n==4:
  div=a/b
  print('Division:',div)
elif n==5:
  mod=a%b
  print('Modulus:',mod)
elif n==6:
  flr=a//b
  print('Floor Division:',flr)
elif n==7:
  exp=a**b
  print('Exponent:',exp)

 1. Addition
 2. Subtraction
 3. Multiplication
 4. Division
 5. Modulus
 6. Floor Division
 7. Exponent
Enter the operaton to be performed 6
Enter the first number 10
Enter the second number 3
Floor Division: 3

In [ ]:
num=int(input("Enter a number to display the correspnding multiplication table "))
for i in range(1,11):
  print("i*",num+i-1,"=" ,i*num)

Enter a number to display the correspnding multiplication table 1
i* 1 = 1
i* 2 = 2
i* 3 = 3
i* 4 = 4
i* 5 = 5
i* 6 = 6
i* 7 = 7
i* 8 = 8
i* 9 = 9
i* 10 = 10

In [ ]:
x=input("Any Number ")
for i in x:
  print(len(x))
  break

Any Number 26
2

In [ ]:
num=int(input("Entr number "))
i=1
while(i<=10):
  print(i*num)
  i=i+1

Entr number 20
20
40
60
80
100
120
140
160
180
200

In [ ]:
x=input("Enter the Number ")
d=0
for i in x:
  #print(i)
  d=d+1
print(d)

Enter the Number 789
3

In [ ]:
x=input('Enter a string ')
a=""
for i in x:
  a=i+a
print(a)
if x==a:
  print('TRUE')
else:
  print('FALSE ')

Enter a string amma
amma
TRUE